.nourishmentBar--overlay {
    background-color: rgb(243, 19, 77);
}

.nourishmentBar--background {
    border-color: rgb(103, 10, 10);
    border-width: 5px;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
}

.hydrationBar--overlay {
    background-color: rgb(35, 46, 209);
}

.hydrationBar--background {
    border-color: rgb(16, 29, 66);
    border-width: 5px;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
}
